<!-- <app-slide></app-slide> -->


<h1 class="text-center">Welcome</h1>

<p class="text-center">New produckts</p>

<div class="row row-cols-1 row-cols-md-5 g-4">
    <div class="col">
        <div class="card border-content">
            <h6 class="text-center">Name</h6>
            <img src="\assets\5.jpg" alt="">
            <h6 class="text-center">Price</h6>
            <!-- <div class="btn-div"> -->
                <button class="btn w-75" routerLink="/view-produckts">View</button>
            <!-- </div> -->
        </div>
    </div>
</div>