h1{
    margin-top: 100px;
}

.border-content {
    border: 4px double brown;
    /* height: 400px; */
    margin-bottom: 100px;
    margin-top: 100px;
}

img {
    height: 350px;
    padding: 20px;
}

.row {
    justify-content: center;
    margin: auto;
    /* margin-top: 50px; */
    width: 90%;
}

h4 {
    /* display: block; */
    font-style: italic;
    text-align: center;
    /* margin-top: 100px; */
}

p {
    margin-top: 100px;
    margin-bottom: -50px;
    text-decoration: underline;
    font-weight: bolder;
    /* margin-bottom: 10px; */
}

button {
    /* background-color:seagreen; */
    /* margin-bottom: 100px; */
    /* border: 3px double red; */
    /* text-decoration: underline; */
    font-weight: bolder;
    justify-content: center;
    margin: auto;
    display: block;
    background-color: rgb(243, 214, 214); /* rgb(215, 215, 243) */
    margin-bottom: 10px;
    margin-top: 10px;
}

h6{
    margin-top: 10px;
}