#data-container {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

#btn-container {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-bottom: 100px;
}

label, input, button {
    margin-left: 20px;
    margin-right: 20px;
}

#save-btn, #cancel-btn {
    background-color: rgb(84, 196, 196);
    width: 10%;
}

#table-container {
    background-color: transparent;
    margin-top: 50px;
    margin-bottom: 100px;
}

#update-btn {
    background-color: rgb(84, 196, 196);
    margin-right: 5px;
}

#delete-btn {
    background-color: rgb(84, 196, 196);
    /* margin-right: -50px; */
}

#search-container {
    justify-content: center;
    margin: auto;
    display: flex;
}