<app-slide></app-slide>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card border-content">
                <img src="\assets\6.jpg" alt="">
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="continer1">
                    <div class="col-5">
                        <h5>Name</h5>
                        <h5>Price</h5>
                        <h5>Quantity</h5>
                    </div>
                    <div class="col-5">
                        <h5>Name</h5>
                        <h5>Price</h5>
                        <h5>Quantity</h5>
                    </div>
                </div>
                <div class="btn-div">
                    <button class="btn">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container text-center">
    <div class="description-card card">
        <h3>Description</h3>
        <h5 class="flower-description"></h5>
    </div>
</div>