<div class="container-fluid" id="container">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
            <div class="logdiv col-md-4 col-sm-4 col-xs-12" id="login-container">
                <form id="login-form">
                    <img src="assets/login-icon.png" class="w-50">
                    <div class="form-group">
                        <p>Email</p>
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
            
                    <div class="form-group">
                        <p>Password</p>
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
            
                    <button type="submit" class="btn btn-block" routerLink="/admin">Login</button>
                </form>
            </div>
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
    </div>
</div>