<!-- Slide -->
<div class="carousel slide" data-ride="carousel" id="slide">
  <!-- Creating 3 slide pages -->
  <ul class="carousel-indicators ">
    <li data-target="#slide" data-slide="0" class="active bg-transparent"></li>
    <li data-target="#slide" data-slide="1" class="active bg-transparent"></li>
    <li data-target="#slide" data-slide="2" class="active bg-transparent"></li>
  </ul>
  
  <!-- Slide inner content -->
  <div class="carousel-inner">
    <div class="carousel-inner-content">
      <!-- Slide image -->
      <img src="\assets\slide4 (2).jpg" alt="">

      <!-- Slide 1 inner content -->
      <div class="carousel-item active">
        <h1 class="w-100">MovieShop</h1>
        <p id="slide-text">Here you can buy different variety of intriguing movies</p>
      </div>

      <!-- Slide 2 inner content -->
      <div class="carousel-item">
        <h1 class=" w-100">Affordability</h1>
        <p id="slide-text">Our prices are affordable and easy on the budget</p>
      </div>

      <!-- Slide 3 inner content -->
      <div class="carousel-item">
        <h1 class=" w-100">Variety</h1>
        <p id="slide-text">We offer a big selection of different movies</p>
      </div>
    </div>
  </div>
  
  <!-- Lest arrow (preview button) of the slide -->
  <a class="carousel-control-prev" href="#slide" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  
  <!-- Right arrow (next button) of the slide -->
  <a class="carousel-control-next" href="#slide" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
</div>

<!-- Info cards -->
<!-- Creating a row with 4 columns -->
<div class="row row-cols-1 row-cols-md-4 g-4 w-75">
  <!-- Column 1 -->
  <div class="col">
    <!-- Creating a card in column 1 -->
    <div class="card">
      <!-- Card 1 inner content -->
      <div class="card-body">
        <div class="text-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-credit-card-fill" viewBox="0 0 16 16">
            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1H0V4zm0 3v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7H0zm3 2h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1z"/>
          </svg>
        </div>
        <h5 class="card-title">Secure payments</h5>
        <p class="card-text" id="card-text">Big variety af payment methods</p>
      </div>
    </div>
  </div>
  
  <!-- Column 2 -->
  <div class="col">
    <!-- Creating a card in column 2 -->
    <div class="card">
      <!-- Card 2 inner content -->
      <div class="card-body">
        <div class="text-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
          </svg>
        </div>
        <h5 class="card-title">Shipping worldwide</h5>
        <p class="card-text" id="card-text">With all certificates needed</p>
      </div>
    </div>
  </div>
  
  <!-- Column 3 -->
  <div class="col">
    <!-- Creating a card in column 3 -->
    <div class="card">
      <!-- Card 3 inner content -->
      <div class="card-body">
        <div class="text-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
            <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
          </svg>
        </div>
        <h5 class="card-title">Fast Delivery</h5>
        <p class="card-text" id="card-text">Takes max 48 hours to get shipped</p>
      </div>
    </div>
  </div>
  
  <!-- Column 4 -->
  <div class="col">
    <!-- Creating a card in column 4 -->
    <div class="card">
      <!-- Card 4 inner content -->
      <div class="card-body">
        <div class="text-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
            <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
          </svg>
        </div>
        <h5 class="card-title">Customer support</h5>
        <p class="card-text" id="card-text">We are here 24/7 to help you</p>
      </div>
    </div>
  </div>
</div>